<% provide(:title, 'My Projects') %>
<div class="non_h_title">My Projects</div>

<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
       <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
<div class="hero-unit">
<p>
	The project I am working on right now is a web app that allows students at a college to crowd source a list of things to do before you graduate.  At Cornell we had a list that one person was able to decide on, but I am imagining an app that lets people "like" a certian task moving it higher in the rankings.  That way everyone gets a say.  Each student will be able to have a profile page that allows them to make a list of the tasks they have completed with a picture or video attached.  You will be able to search for friends and add them to you list of favorites.  To keep the app in check students can submit suggestions but their real email address will be attached to it.  I think it will be great, check back when I have a working model.  Thanks!
    </p>
    <%= link_to "Sign up for 161", signup_path, id: "one_61_link" %>
 </div>
 <% end %>

